

/* Reference videos:  */

/* How to use local storage
https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_win_localstorage */


/* Reading the API */
/* https://www.youtube.com/watch?v=GXrDEA3SIOQ */


/* Connecting JavaScript with HTML */
/* https://stackoverflow.com/questions/21491119/sending-form-text-input-to-console-log-for-testing */


/* Example 
https://www.youtube.com/watch?v=6trGQWzg2AI */


/* Perfect example for printing data into API
https://www.youtube.com/watch?v=uxf0--uiX0I */


/* “store array in localstorage” Code Answer’s
https://www.codegrepper.com/code-examples/javascript/store+array+in+localstorage */


/* Using the push function
https://www.youtube.com/watch?v=g1hlKlovok8 */


/* Functions are passing the values around  */
/* https://www.quora.com/How-can-I-make-an-array-out-of-user-inputs-in-JavaScript */


/* Early exit from function?
https://stackoverflow.com/questions/3330193/early-exit-from-function */